.image23Icon {
  width: 240px;
  height: 106px;
  position: relative;
  object-fit: cover;
}
.keyboardBackspace1 {
  width: 54px;
  height: 54px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.keyboardBackspace1Wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2px 0 0;
}
.adoptedCats1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 56px;
  font-weight: 700;
  font-family: inherit;
}
.table {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 27px;
  max-width: 100%;
}
.frame,
.name {
  position: relative;
}
.frame {
  align-self: stretch;
  width: 136.3px;
  background-color: var(--color-gray-100);
  border-top: 1px solid var(--color-whitesmoke);
  border-bottom: 1px solid var(--color-whitesmoke);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.name {
  flex: 1;
  font-size: var(--font-size-sm);
  line-height: 22px;
  font-family: var(--font-epilogue);
  color: var(--color-dimgray);
  text-align: left;
}
.frame1 {
  flex: 1;
  background-color: var(--color-gray-100);
  border-top: 1px solid var(--color-whitesmoke);
  border-bottom: 1px solid var(--color-whitesmoke);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xl) var(--padding-base);
  flex-shrink: 0;
  debug_commit: 1de1738;
  z-index: 1;
}
.status {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: var(--font-epilogue);
  font-size: var(--font-size-sm);
  background-color: transparent;
  height: 22px;
  flex: 1;
  position: relative;
  line-height: 22px;
  color: var(--color-dimgray);
  text-align: left;
  display: inline-block;
  min-width: 72px;
  padding: 0;
}
.frame2,
.frameGroup {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  debug_commit: 1de1738;
}
.frame2 {
  flex: 1;
  background-color: var(--color-gray-100);
  border-top: 1px solid var(--color-whitesmoke);
  border-bottom: 1px solid var(--color-whitesmoke);
  overflow: hidden;
  padding: var(--padding-2xl) var(--padding-base);
  margin-left: -0.1px;
}
.frameGroup {
  width: 301.5px;
}
.sterilization {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: var(--font-epilogue);
  font-size: var(--font-size-sm);
  background-color: transparent;
  height: 22px;
  flex: 1;
  position: relative;
  line-height: 22px;
  color: var(--color-dimgray);
  text-align: left;
  display: inline-block;
  min-width: 100px;
  padding: 0;
}
.age,
.frame3 {
  flex: 1;
  flex-shrink: 0;
}
.frame3 {
  background-color: var(--color-gray-100);
  border-top: 1px solid var(--color-whitesmoke);
  border-bottom: 1px solid var(--color-whitesmoke);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xl) var(--padding-base);
  debug_commit: 1de1738;
  z-index: 1;
}
.age {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 22px;
  font-family: var(--font-epilogue);
  color: var(--color-dimgray);
  text-align: left;
}
.frame4,
.frameContainer {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  debug_commit: 1de1738;
}
.frame4 {
  width: 147.3px;
  background-color: var(--color-gray-100);
  border-top: 1px solid var(--color-whitesmoke);
  border-bottom: 1px solid var(--color-whitesmoke);
  box-sizing: border-box;
  overflow: hidden;
  padding: var(--padding-2xl) var(--padding-base);
  margin-left: -0.1px;
}
.frameContainer {
  width: 345.5px;
}
.dewormDate {
  flex: 1;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 22px;
  font-family: var(--font-epilogue);
  color: var(--color-dimgray);
  text-align: left;
  flex-shrink: 0;
}
.frame5 {
  width: 161.3px;
  background-color: var(--color-gray-100);
  border-top: 1px solid var(--color-whitesmoke);
  border-bottom: 1px solid var(--color-whitesmoke);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xl) var(--padding-base);
  debug_commit: 1de1738;
  white-space: nowrap;
}
.vaccination {
  flex: 1;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 22px;
  font-family: var(--font-epilogue);
  color: var(--color-dimgray);
  text-align: left;
}
.frame6 {
  flex: 1;
  background-color: var(--color-gray-100);
  border-top: 1px solid var(--color-whitesmoke);
  border-bottom: 1px solid var(--color-whitesmoke);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xl) var(--padding-base);
  white-space: nowrap;
  z-index: 1;
  margin-left: -0.1px;
}
.frame6,
.frame7,
.frameDiv {
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.frameDiv {
  width: 333.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame7 {
  align-self: stretch;
  width: 144.3px;
  position: relative;
  background-color: var(--color-gray-100);
  border-top: 1px solid var(--color-whitesmoke);
  border-bottom: 1px solid var(--color-whitesmoke);
  box-sizing: border-box;
  overflow: hidden;
}
.frameParent {
  width: 1261px;
  height: 67px;
  overflow-x: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.imageIcon {
  position: absolute;
  height: calc(100% - 28px);
  top: 14px;
  bottom: 14px;
  left: calc(50% - 40.05px);
  max-height: 100%;
  width: 80px;
  object-fit: cover;
}
.frame8,
.staphy {
  position: relative;
}
.frame8 {
  height: 81px;
  width: 136.3px;
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  debug_commit: 1de1738;
  z-index: 2;
}
.staphy {
  flex: 1;
  font-size: var(--font-size-sm);
  line-height: 22px;
  font-family: var(--font-inter);
  color: var(--color-gray-200);
  text-align: left;
}
.frame9 {
  flex: 1;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xl-5) var(--padding-base);
  flex-shrink: 0;
  debug_commit: 1de1738;
  z-index: 3;
}
.alive {
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 20px;
  font-family: var(--font-inter);
  color: var(--color-seagreen);
  text-align: left;
  display: inline-block;
  min-width: 34px;
}
.frame10,
.frame11,
.frameParent2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame11 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-9xs) var(--padding-5xs);
  background-color: var(--color-honeydew);
  border-radius: var(--br-sm);
  overflow: hidden;
}
.frame11:hover {
  background-color: var(--color-gainsboro-200);
}
.frame10,
.frameParent2 {
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.frame10 {
  flex: 1;
  background-color: var(--color-white);
  overflow: hidden;
  padding: var(--padding-7xl-5) var(--padding-base);
  z-index: 4;
  margin-left: -0.1px;
}
.frameParent2 {
  width: 301.5px;
}
.div {
  flex: 1;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 22px;
  font-family: var(--font-inter);
  color: var(--color-gray-200);
  text-align: left;
  flex-shrink: 0;
}
.frame12 {
  position: absolute;
  top: 0;
  left: 198.2px;
  background-color: var(--color-white);
  width: 147.3px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xl-5) var(--padding-base);
  box-sizing: border-box;
}
.spayed {
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 20px;
  font-family: var(--font-inter);
  color: var(--color-palevioletred);
  text-align: left;
  display: inline-block;
  min-width: 46px;
}
.frame13,
.frame14 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.frame14 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-9xs) var(--padding-5xs);
  background-color: var(--color-lavenderblush);
  width: 64px;
  border-radius: var(--br-sm);
  flex-shrink: 0;
}
.frame14:hover {
  background-color: var(--color-gainsboro-100);
}
.frame13 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 198.3px;
  padding: var(--padding-7xl-5) var(--padding-base);
  z-index: 1;
}
.div1,
.frameParent3 {
  flex: 1;
  position: relative;
  flex-shrink: 0;
}
.frameParent3 {
  height: 81px;
  min-width: 224px;
  debug_commit: 1de1738;
  max-width: 100%;
}
.div1 {
  font-size: var(--font-size-sm);
  line-height: 22px;
  font-family: var(--font-inter);
  color: var(--color-gray-200);
  text-align: left;
}
.frame15 {
  width: 161.3px;
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xl-5) var(--padding-base);
  box-sizing: border-box;
  debug_commit: 1de1738;
  z-index: 2;
}
.div2 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 22px;
  font-family: var(--font-inter);
  color: var(--color-gray-200);
  text-align: left;
}
.button,
.frame16 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.frame16 {
  flex: 1;
  background-color: var(--color-white);
  overflow: hidden;
  padding: var(--padding-10xl-5) var(--padding-base);
  box-sizing: border-box;
  min-width: 112px;
  margin-left: -0.1px;
}
.button {
  width: 333.5px;
  row-gap: 20px;
  max-width: 100%;
}
.viewIcon {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.view {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.view1 {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 22px;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 31px;
}
.button83 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xs) var(--padding-xs);
  background-color: var(--color-palevioletred);
  border-radius: var(--br-9xs);
  overflow: hidden;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  z-index: 3;
}
.button1,
.button83,
.frameParent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.button1 {
  background-color: var(--color-white);
  overflow: hidden;
  justify-content: flex-start;
  padding: var(--padding-4xl) var(--padding-14xl-2) var(--padding-3xl);
  flex-shrink: 0;
  debug_commit: 1de1738;
  z-index: 2;
}
.frameParent1 {
  align-self: stretch;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 20px;
  max-width: 100%;
}
.imageIcon1 {
  position: absolute;
  height: calc(100% - 28px);
  top: 14px;
  bottom: 14px;
  left: calc(50% - 40.05px);
  max-height: 100%;
  width: 80px;
  object-fit: cover;
}
.frame17 {
  height: 81px;
  width: 136.3px;
  position: relative;
  background-color: var(--color-gray-100);
  overflow: hidden;
  flex-shrink: 0;
  debug_commit: 1de1738;
  z-index: 6;
}
.tanjiro {
  flex: 1;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 22px;
  font-family: var(--font-inter);
  color: var(--color-gray-200);
  text-align: left;
}
.frame18 {
  flex: 1;
  background-color: var(--color-gray-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xl-5) var(--padding-base);
  flex-shrink: 0;
  debug_commit: 1de1738;
  z-index: 5;
}
.alive1 {
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 20px;
  font-family: var(--font-inter);
  color: var(--color-seagreen);
  text-align: left;
  display: inline-block;
  min-width: 34px;
}
.frame19,
.frame20,
.frameParent4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame20 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-9xs) var(--padding-5xs);
  background-color: var(--color-honeydew);
  border-radius: var(--br-sm);
  overflow: hidden;
}
.frame20:hover {
  background-color: var(--color-gainsboro-200);
}
.frame19,
.frameParent4 {
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.frame19 {
  flex: 1;
  background-color: var(--color-gray-100);
  overflow: hidden;
  padding: var(--padding-7xl-5) var(--padding-base);
  z-index: 6;
  margin-left: -0.1px;
}
.frameParent4 {
  width: 301.5px;
}
.spayed1 {
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 20px;
  font-family: var(--font-inter);
  color: var(--color-palevioletred);
  text-align: left;
  display: inline-block;
  min-width: 46px;
}
.frame21,
.frame22 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.frame22 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-9xs) var(--padding-5xs);
  background-color: var(--color-lavenderblush);
  width: 64px;
  border-radius: var(--br-sm);
  flex-shrink: 0;
}
.frame22:hover {
  background-color: var(--color-gainsboro-100);
}
.frame21 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-100);
  width: 198.3px;
  padding: var(--padding-7xl-5) var(--padding-base);
  z-index: 5;
}
.div3 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 22px;
  font-family: var(--font-inter);
  color: var(--color-gray-200);
  text-align: left;
  flex-shrink: 0;
}
.frame23 {
  position: absolute;
  top: 0;
  left: 198.2px;
  background-color: var(--color-gray-100);
  width: 147.3px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xl-5) var(--padding-base);
  box-sizing: border-box;
  z-index: 6;
}
.button2,
.div4 {
  position: relative;
  flex-shrink: 0;
}
.button2 {
  height: 81px;
  width: 345.5px;
  debug_commit: 1de1738;
}
.div4 {
  flex: 1;
  font-size: var(--font-size-sm);
  line-height: 22px;
  font-family: var(--font-inter);
  color: var(--color-gray-200);
  text-align: left;
}
.frame24 {
  width: 161.3px;
  background-color: var(--color-gray-100);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xl-5) var(--padding-base);
  box-sizing: border-box;
  debug_commit: 1de1738;
  z-index: 3;
}
.div5 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 22px;
  font-family: var(--font-inter);
  color: var(--color-gray-200);
  text-align: left;
}
.frame25,
.frameParent5 {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  debug_commit: 1de1738;
}
.frame25 {
  flex: 1;
  background-color: var(--color-gray-100);
  overflow: hidden;
  padding: var(--padding-10xl-5) var(--padding-base);
  z-index: 4;
  margin-left: -0.1px;
}
.frameParent5 {
  width: 333.5px;
}
.viewIcon1 {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.viewWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.view2 {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 22px;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 31px;
}
.button831 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xs) var(--padding-xs);
  background-color: var(--color-palevioletred);
  border-radius: var(--br-9xs);
  overflow: hidden;
  gap: var(--gap-7xs);
  z-index: 4;
}
.button831,
.image,
.viewbutton {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.viewbutton {
  background-color: var(--color-gray-100);
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-4xl) var(--padding-14xl-2) var(--padding-3xl);
  debug_commit: 1de1738;
  z-index: 3;
}
.image {
  width: 1261px;
  overflow-x: auto;
  max-width: 100%;
}
.imageIcon2 {
  position: absolute;
  height: calc(100% - 28px);
  top: 14px;
  bottom: 14px;
  left: calc(50% - 40.05px);
  max-height: 100%;
  width: 80px;
  object-fit: cover;
}
.frame26,
.tiger {
  position: relative;
  flex-shrink: 0;
}
.frame26 {
  height: 81px;
  width: 136.3px;
  background-color: var(--color-white);
  overflow: hidden;
  debug_commit: 1de1738;
  z-index: 8;
}
.tiger {
  flex: 1;
  font-size: var(--font-size-sm);
  line-height: 22px;
  font-family: var(--font-inter);
  color: var(--color-gray-200);
  text-align: left;
}
.frame27 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 150.3px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xl-5) var(--padding-base);
  box-sizing: border-box;
  z-index: 7;
}
.alive2 {
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 20px;
  font-family: var(--font-inter);
  color: var(--color-seagreen);
  text-align: left;
  display: inline-block;
  min-width: 34px;
}
.frame28,
.frame29 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame29 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-9xs) var(--padding-5xs);
  background-color: var(--color-honeydew);
  border-radius: var(--br-sm);
}
.frame29:hover {
  background-color: var(--color-gainsboro-200);
}
.frame28 {
  position: absolute;
  top: 0;
  left: 150.2px;
  background-color: var(--color-white);
  width: 151.3px;
  padding: var(--padding-7xl-5) var(--padding-base);
  box-sizing: border-box;
  z-index: 8;
}
.div6,
.frameParent7 {
  position: relative;
  flex-shrink: 0;
}
.frameParent7 {
  height: 81px;
  width: 301.5px;
  debug_commit: 1de1738;
}
.div6 {
  flex: 1;
  font-size: var(--font-size-sm);
  line-height: 22px;
  font-family: var(--font-inter);
  color: var(--color-gray-200);
  text-align: left;
}
.frame30 {
  position: absolute;
  top: 0;
  left: 198.2px;
  background-color: var(--color-white);
  width: 147.3px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xl-5) var(--padding-base);
  box-sizing: border-box;
  z-index: 8;
}
.spayed2 {
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 20px;
  font-family: var(--font-inter);
  color: var(--color-palevioletred);
  text-align: left;
  display: inline-block;
  min-width: 46px;
}
.frame31,
.frame32 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.frame32 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-9xs) var(--padding-5xs);
  background-color: var(--color-lavenderblush);
  width: 64px;
  border-radius: var(--br-sm);
  flex-shrink: 0;
}
.frame32:hover {
  background-color: var(--color-gainsboro-100);
}
.frame31 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 198.3px;
  padding: var(--padding-7xl-5) var(--padding-base);
  z-index: 9;
}
.div7,
.frameParent8 {
  flex: 1;
  position: relative;
  flex-shrink: 0;
}
.frameParent8 {
  height: 81px;
  min-width: 224px;
  debug_commit: 1de1738;
  max-width: 100%;
}
.div7 {
  font-size: var(--font-size-sm);
  line-height: 22px;
  font-family: var(--font-inter);
  color: var(--color-gray-200);
  text-align: left;
}
.frame33 {
  width: 161.3px;
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xl-5) var(--padding-base);
  box-sizing: border-box;
  debug_commit: 1de1738;
  z-index: 7;
}
.div8 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 22px;
  font-family: var(--font-inter);
  color: var(--color-gray-200);
  text-align: left;
}
.frame34,
.frameParent9 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.frame34 {
  flex: 1;
  background-color: var(--color-white);
  overflow: hidden;
  padding: var(--padding-10xl-5) var(--padding-base);
  box-sizing: border-box;
  min-width: 112px;
  z-index: 5;
  margin-left: -0.1px;
}
.frameParent9 {
  width: 333.5px;
  row-gap: 20px;
  max-width: 100%;
}
.viewIcon2 {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.viewContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.view3 {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 22px;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 31px;
}
.button832,
.frame35 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button832 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xs) var(--padding-xs);
  background-color: var(--color-palevioletred);
  border-radius: var(--br-9xs);
  gap: var(--gap-7xs);
  z-index: 7;
}
.frame35 {
  background-color: var(--color-white);
  padding: var(--padding-4xl) var(--padding-14xl-2) var(--padding-3xl);
  flex-shrink: 0;
  debug_commit: 1de1738;
  z-index: 6;
}
.frameParent6 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 20px;
}
.frameParent6,
.table3,
.table3Wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.table3 {
  margin: 0;
  width: 1262px;
  border-radius: var(--br-9xs);
  background-color: transparent;
  border: 1px solid var(--color-whitesmoke);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
}
.table3Wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
}
.container3 {
  flex: 1;
  border-radius: 24px;
  background-color: var(--color-whitesmoke);
  flex-direction: column;
  padding: 36px var(--padding-10xs) 632px 29px;
  gap: 10px;
  max-width: 100%;
  text-align: left;
  font-size: 40px;
  color: var(--color-palevioletred);
  font-family: var(--font-epilogue);
}
.adoptedCats,
.container3,
.container3Wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.container3Wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-5xs) 0 37px;
  max-width: 100%;
}
.adoptedCats {
  width: 100%;
  position: relative;
  box-shadow: 0 3px 6px rgba(18, 15, 40, 0.12);
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  padding: 42px 24px 32px;
  gap: 12px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1050px) {
  .container3 {
    padding-top: var(--padding-4xl);
    padding-bottom: 411px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1000px) {
  .adoptedCats1 {
    font-size: 32px;
    line-height: 45px;
  }
}
@media screen and (max-width: 725px) {
  .container3 {
    padding-top: 20px;
    padding-bottom: 267px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .adoptedCats1 {
    font-size: 24px;
    line-height: 34px;
  }
  .table {
    flex-wrap: wrap;
  }
  .frame16 {
    margin-left: 0;
  }
  .button {
    flex-wrap: wrap;
  }
  .frame34 {
    margin-left: 0;
  }
  .frameParent9 {
    flex-wrap: wrap;
  }
}
