/**PROPERTY OF: 
                Banes, Ellaine
                Calugas, Jonathan
                Cantiller, Sophia Feona
                BS in Computer Science - IV
                June 2024
**/

.animalInfo {
  position: absolute;
  top: 36px;
  left: 80px;
  line-height: 56px;
}
.hiddenFileInput {
  display: none;
}

.customFileUpload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: transparent; /* or any color you want */
  color: white;
  border: none;
  border-radius: 4px;
  margin-left: 55px;
  margin-top: 3px;
}

.image38Icon,
.keyboardBackspace1 {
  position: absolute;
  object-fit: cover;
}
.keyboardBackspace1 {
  top: 38px;
  left: 29px;
  width: 44px;
  height: 44px;
  overflow: hidden;
}
.image38Icon {
  top: 44px;
  left: 42px;
  width: 250px;
  height: 250px;
}
.chooseAPhoto {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 41.5px);
  line-height: 22px;
}
headerContainer {
  height: 40px;
  width: 100px;
  margin-top: 44px;
  margin-left: 7px;
  background-color: aqua;
}
.dataUploadIcon {
  position: absolute;
  margin-top: 8px;
  margin-left: 30px;
  width: 16px;
  height: 16px;
  overflow: hidden;
  object-fit: cover;
}
.button19,
.rectangle {
  position: absolute;
  border-radius: var(--br-9xs);
}
.button19 {
  top: 295px;
  left: 42px;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 8px 17px rgba(23, 26, 31, 0.15);
  background-color: var(--color-palevioletred-100);
  width: 250px;
  height: 36px;
  overflow: hidden;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.rectangle {
  top: calc(50% - 30px);
  left: calc(50% - 99.5px);
  background-color: var(--color-gray-200);
  border: 5px solid var(--color-palevioletred-200);
  box-sizing: border-box;
  width: 199px;
  height: 60px;
}
.feb2021 {
  position: absolute;
  top: calc(50% - 12.5px);
  left: 34px;
  line-height: 26px;
}
.calendarIcon {
  position: absolute;
  top: calc(50% - 7.5px);
  left: 12px;
  width: 16px;
  height: 16px;
  overflow: hidden;
  object-fit: cover;
}
.textfield {
  position: absolute;
  height: calc(100% - 26px);
  width: calc(100% + 1px);
  top: 26px;
  right: 0;
  bottom: 0;
  left: -1px;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-palevioletred-100);
  box-sizing: border-box;
}
.vaccinationDate {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 26px;
  color: var(--color-darkslategray);
}
.textbox15,
.textbox151,
.textbox16 {
  position: absolute;
  margin-top: 84px;
  margin-left: -20px;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-lightslategray);
  box-sizing: border-box;
  width: 200px;
  height: 40px;
  color: var(--color-gray-100);
}

.textbox151,
.textbox16 {
  margin-top: 85px;
  margin-left: 90px;
}
.textbox151 {
  margin-top: 85px;
  margin-left: 200px;
}
.traitsAndPersonality {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 22px;
}
.likesPeople {
  margin: 0;
}
.likesPeopleContainer {
  position: absolute;
  width: calc(100% - 29px);
  top: 7px;
  left: 12px;
  line-height: 22px;
  display: inline-block;
}
.resizingHandleIcon {
  position: absolute;
  right: 1px;
  bottom: 1px;
  width: 12px;
  height: 12px;
  overflow: hidden;
  object-fit: cover;
}
.textfield3 {
  position: absolute;
  height: calc(100% - 22px);
  width: calc(100% + 1px);
  top: 22px;
  right: 0;
  bottom: 0;
  left: -1px;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-lightslategray);
  box-sizing: border-box;
  color: var(--color-gray-100);
}
.textarea1,
.textarea11 {
  margin-left: -20px;
  background-color: var(--color-gray-200);
  width: 630px;
  font-size: var(--font-size-sm);
}
.textarea1 {
  position: absolute;
  margin-top: 110px;
  height: 213px;
}
.textarea11 {
  margin-top: 300px;
  height: 121px;
}
.button22,
.save,
.textarea11 {
  position: absolute;
}
.save {
  top: 8px;
  left: 50px;
  line-height: 22px;
  background-color: transparent;
  border: palevioletred;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.button22 {
  cursor: pointer;
  margin-top: 630px;
  margin-left: 842px;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 8px 17px rgba(23, 26, 31, 0.15);
  border-radius: var(--br-9xs);
  background-color: var(--color-palevioletred-100);
  width: 146px;
  height: 38px;
  overflow: hidden;
  font-size: 12px;
  color: var(--color-white);
}
.cancel {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 23px);
  line-height: 22px;
}
.button221 {
  cursor: pointer;
  position: absolute;
  top: 630px;
  left: 690px;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 8px 17px rgba(23, 26, 31, 0.15);
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-palevioletred-100);
  box-sizing: border-box;
  width: 146px;
  height: 38px;
  overflow: hidden;
  font-size: var(--font-size-sm);
  color: var(--color-palevioletred-100);
}
.butterscotch,
.name {
  position: absolute;
  line-height: 26px;
}
.name {
  top: 0;
  left: 0;
}
.butterscotch {
  top: calc(50% - 12.5px);
  left: 12px;
}
.textfield5 {
  height: 40px;
  width: 100px;
  margin-top: 44px;
  margin-left: 85px;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-lightslategray);
  box-sizing: border-box;
  color: var(--color-gray-100);
}
.f,
.textbox13,
.textboxLocation,
.textfield5 {
  position: absolute;
}
.textbox13 {
  margin-top: 44px;
  margin-left: -20px;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-lightslategray);
  box-sizing: border-box;
  width: 150px;
  height: 40px;
}
.textboxLocation {
  top: 44px;
  left: -10px;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-lightslategray);
  box-sizing: border-box;
  width: 120px;
  height: 40px;
}
.f {
  width: calc(100% - 30px);
  top: calc(50% - 12.5px);
  left: 12px;
  line-height: 26px;
  display: inline-block;
}
.chevronDownLarge {
  position: absolute;
  top: calc(50% - 7.5px);
  right: 11px;
  width: 16px;
  height: 16px;
  overflow: hidden;
  object-fit: cover;
}
.textfield6 {
  position: absolute;
  height: calc(100% - 26px);
  width: calc(100% + 10px);
  top: 25.67px;
  right: -9px;
  bottom: 0.33px;
  left: -1px;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-lightslategray);
  box-sizing: border-box;
  color: var(--color-gray-100);
}
.dropdownButton1,
.dropdownButton11,
.dropdownButton12,
.textbox131 {
  position: absolute;
  top: 44px;
  left: 90px;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-lightslategray);
  box-sizing: border-box;
  width: 85px;
  height: 40px;
}
.dropdownButton11,
.dropdownButton12,
.textbox131 {
  left:65px;
  width: 69px;
}
.dropdownButton11,
.dropdownButton12 {
  left: 90px;
  width: 90px;
}
.dropdownButton12 {
  left: 805px;
  width: 77px;
}
.container3,
.container31 {
  position: absolute;
  border-radius: var(--br-5xl);
}
.container31 {
  top: 100px;
  left: 40px;
  background-color: var(--color-white);
  width: 1000px;
  height: 865px;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray);
  font-family: var(--font-inter);
}
.container3 {
  height: 150%;
  width: 80%;
  top: 100px;
  left: 150px;
  background-color: #f3f4f6;
}
.image23Icon {
  position: absolute;
  top: 6px;
  left: 140px;
  width: 240px;
  height: 106px;
  object-fit: cover;
}
.editAnimal {
  width: 100vw;
  height: 100%;
  box-shadow: 0 3px 6px rgba(18, 15, 40, 0.12);
  background-color: var(--color-white);
  overflow: hidden;
  text-align: left;
  font-size: 30px;
  color: var(--color-palevioletred-100);
  font-family: var(--font-epilogue);
}

.savedNotification {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: green;
  color: white;
  padding: 10px;
  z-index: 1000;
}

.fieldContainerName {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 350px; 
  width: 70px;
  height: 30px;
  background-color: transparent;
  position: absolute;
}

.fieldContainerVaccination {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 350px; 
  margin-top: 40px;
  width: 200px;
  height: 30px;
  background-color: transparent;
  position: absolute;
}

.fieldContainerTraits {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 350px; 
  margin-top: 90px;
  width: 200px;
  height: 30px;
  background-color: transparent;
  position: absolute;
}

.fieldContainerNotes {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 350px; 
  margin-top: 150px;
  width: 200px;
  height: 30px;
  background-color: transparent;
  position: absolute;
}

.fieldContainerSterilization {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 450px; 
  margin-top: 40px;
  width: 200px;
  height: 30px;
  background-color: transparent;
  position: absolute;
}

.fieldContainerDeworming {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 550px; 
  margin-top: 40px;
  width: 200px;
  height: 30px;
  background-color: transparent;
  position: absolute;
}

.fieldContainerLoc {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 500px; 
  width: 70px;
  height: 30px;
  background-color: transparent;
  position: absolute;
}
.fieldContainerAge {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 550px; 
  width: 70px;
  height: 30px;
  background-color: transparent;
  position: absolute;
}

.fieldContainerStatus {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 600px; 
  width: 70px;
  height: 30px;
  background-color: transparent;
  position: absolute;
}

.fieldContainerSex {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 700px; 
  width: 70px;
  height: 30px;
  background-color: transparent;
  position: absolute;
}

.fieldContainerSpecies {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 800px; 
  width: 70px;
  height: 30px;
  background-color: transparent;
  position: absolute;
}

.fieldLabelSpecies {
  font-size: 14px; /* Adjust as needed */
  font-weight: bold; /* Adjust as needed */
  margin-left: 90px; /* Adjust as needed */
  color: var(--color-darkslategray); /* Adjust as needed */
  margin-top: 25px;
}
.fieldLabelSex {
  font-size: 14px; /* Adjust as needed */
  font-weight: bold; /* Adjust as needed */
  margin-left: 85px; /* Adjust as needed */
  color: var(--color-darkslategray); /* Adjust as needed */
  margin-top: 25px;
}

.fieldLabelAge {
  font-size: 14px; /* Adjust as needed */
  font-weight: bold; /* Adjust as needed */
  margin-left: 70px; /* Adjust as needed */
  color: var(--color-darkslategray); /* Adjust as needed */
  margin-top: 25px;
}

.fieldLabelStatus {
  font-size: 14px; /* Adjust as needed */
  font-weight: bold; /* Adjust as needed */
  margin-left: 90px; /* Adjust as needed */
  color: var(--color-darkslategray); /* Adjust as needed */
  margin-top: 25px;
} 

.fieldLabelName {
  font-size: 14px; /* Adjust as needed */
  font-weight: bold; /* Adjust as needed */
  margin-left: -20px; /* Adjust as needed */
  color: var(--color-darkslategray); /* Adjust as needed */
  margin-top: 25px;
}

.fieldLabelVaccination {
  font-size: 14px; /* Adjust as needed */
  font-weight: bold; /* Adjust as needed */
  margin-left: -20px; /* Adjust as needed */
  color: var(--color-darkslategray); /* Adjust as needed */
  margin-top: 65px;
}

.fieldLabelSterilization {
  font-size: 14px; /* Adjust as needed */
  font-weight: bold; /* Adjust as needed */
  margin-left: 90px; /* Adjust as needed */
  color: var(--color-darkslategray); /* Adjust as needed */
  margin-top: 65px;
  white-space: nowrap;
}

.fieldLabelTraits {
  font-size: 14px; /* Adjust as needed */
  font-weight: bold; /* Adjust as needed */
  margin-left: -20px; /* Adjust as needed */
  color: var(--color-darkslategray); /* Adjust as needed */
  margin-top: 90px;
  white-space: nowrap;
}

.fieldLabelNotes {
  font-size: 14px; /* Adjust as needed */
  font-weight: bold; /* Adjust as needed */
  margin-left: -20px; /* Adjust as needed */
  color: var(--color-darkslategray); /* Adjust as needed */
  margin-top: 280px;
  white-space: nowrap;
}

.fieldLabelDeworming {
  font-size: 14px; /* Adjust as needed */
  font-weight: bold; /* Adjust as needed */
  margin-left: 200px; /* Adjust as needed */
  color: var(--color-darkslategray); /* Adjust as needed */
  margin-top: 65px;
  white-space: nowrap;
}

.fieldLabelLoc {
  font-size: 14px; /* Adjust as needed */
  font-weight: bold; /* Adjust as needed */
  margin-left: -10px; /* Adjust as needed */
  color: var(--color-darkslategray); /* Adjust as needed */
  margin-top: 25px;
}
.loadingContainer {
  width: 200px;
  height: 100px;
  margin-top: 100px;
  margin-left: 600px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1000;
}

.loadingCircle {
  border: 16px solid #f3f3f3; 
  border-top: 16px solid #6a0dad; /* Purple */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loadingText {
  margin-top: 16px;
  font-size: 18px;
  font-weight: bold;
  color: black;
}



